@import '../../styles/const.module';

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: $borderRadius_regular;
	padding: 0 0.25rem;
	height: 1rem;

	img {
		width: 2rem;
		height: 100%;
	}
}