@import '../../../../styles/const.module';

._ {
	display: flex;
	justify-content: center;

	ol {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, auto);
		grid-auto-flow: column;
		gap: 2rem 2rem;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 3.5rem;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: $fontSize_regular;
		background-color: var(--background-color__opacity);
		border: 1px solid var(--border-color__opacity);
		border-radius: $borderRadius_regular;
	}
}
