@import '../../../../../styles/const.module';

._ {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 1.5rem;

	div:first-child {
		color: $textColor_correct;
		font-size: $fontSize_regular;
	}

	div:nth-child(2) {
		width: auto;
		color: $textColor_regular;
		font-size: $fontSize_regular;
	}

	div:last-child {
		color: $textColor_wrong;
		font-size: $fontSize_regular;
	}
}
