@import '../../../../styles/const.module';

.content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.condition {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 6rem;

	div {
		display: flex;
		justify-content: center;
		padding: 2rem 0;
		font-size: $fontSize_regular;
	}
}

.versions {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0 0 0;

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem 2rem;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 7rem;
			height: 3rem;
		}
	}
}
