@use "../../../styles/layout/containers" as containers;

.swiperContainer {
	@include containers.swiper-container-base();
	width: 100%;

	:global {
		.swiper {
			width: 100%;
			height: 9rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			perspective: 2000px;
			transform-style: preserve-3d;

			&-slide {
				height: fit-content;
				padding: {
					top: 0.2rem;
					bottom: 0.2rem;
					right: 0.75rem;
					left: 0.75rem;
				}
				will-change: transform;
				background-color: var(--color-surface-6);
				border: var(--border-width-small) solid var(--color-primary);

				&:hover {
					box-shadow: 0 0 15px rgba(248, 249, 250, 0.4);
					will-change: transform;
					transform: translateY(-2px);
				}
			}

			.swiper-pagination-progressbar {
				width: 1px;

				&-fill {
					background: var(--color-primary);
				}
			}
		}
	}
}

.testLink {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-primary);
	transition: transform 0.3s, box-shadow 0.3s;

	&:active {
		transform: translateY(1px);
	}

	&:hover {
		box-shadow: 0 0 15px rgba(248, 249, 250, 0.4);
		will-change: transform;
		transform: translateY(-2px);
	}

	span {
		width: 100%;
		padding: 0.25rem 1rem;
		text-align: center;
		color: var(--color-primary);
	}
}