@use "../../../styles/abstracts/mixins" as mixins;
@use "../../../styles/layout/containers" as containers;

.swiperContainer {
	@include containers.swiper-container-base();
	width: 100%;

	:global {
		.swiper {
			width: 100%;
			height: 9rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			perspective: 2000px;
			transform-style: preserve-3d;

			&-slide {
				height: fit-content;
				padding: {
					top: 0.1rem;
					bottom: 0.1rem;
					left: 0;
					right: 0;
				}
				color: var(--color-primary);
				background-color: var(--color-surface-6);
				border: var(--border-width-small) solid var(--color-primary);
			}

			.swiper-pagination-progressbar {
				width: 1px;

				&-fill {
					background: var(--color-primary);
				}
			}
		}
	}
}

.testLink {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-primary);
	transition: transform 0.3s, box-shadow 0.3s;

	&:active {
		transform: translateY(1px);
	}

	&:hover {
		@include mixins.hover-animation;
	}

	span {
		width: 100%;
		padding: {
			top: 0.25rem;
			bottom: 0.25rem;
			right: 1rem;
			left: 1rem;
		}
		text-align: center;
		color: var(--color-primary);

		@include mixins.caveat-font(400, var(--fontSize_regular));
	}
}