$screen-sm: '576px';
$screen-md: '768px';
$screen-lg: '992px';
$screen-xl: '1200px';
$screen-xxl: '1400px';

$fontSize_regular: 1rem;
$fontSize_title: 1.2rem;
$fontSize_large: 3rem;

$borderRadius_small: 0.25rem;
$borderRadius_regular: 0.5rem;
$borderRadius_large: 0.75rem;

$borderWidth_small: 1px;
$borderWidth_regular: 2px;
$borderWidth_large: 4px;

@keyframes PulseLine {
	50% { opacity: 0.2; }
	70% { opacity: 0.8; }
	100% { opacity: 0.2; }
}

:root {
	--fontSize_regular: #{$fontSize_regular};
	--fontSize_title: #{$fontSize_title};
	--fontSize_large: #{$fontSize_large};

	--border-radius-small: #{$borderRadius_small};
	--border-radius-regular: #{$borderRadius_regular};
	--border-radius-large: #{$borderRadius_large};

	--border-width-small: #{$borderWidth_small};
	--border-width-regular: #{$borderWidth_regular};
	--border-width-large: #{$borderWidth_large};

	--color-base: initial;

	--color-primary-shade: initial;
	--color-primary-tint: initial;
	--color-primary-tint_opacity: initial;

	--color-primary: initial;

	--color-on-primary: initial;
	--color-primary-container: initial;
	--color-on-primary-container: initial;

	--color-secondary: initial;
	--color-on-secondary: initial;
	--color-secondary-container: initial;
	--color-on-secondary-container: initial;

	--color-surface: initial;
	--color-surface_gradient: initial;
	--color-on-surface: initial;
	--color-surface-variant: initial;
	--color-on-surface-variant: initial;

	--color-surface-0: initial;
	--color-surface-1: initial;
	--color-surface-2: initial;
	--color-surface-3: initial;
	--color-surface-4: initial;
	--color-surface-5: initial;
	--color-surface-6: initial;
	--color-surface-7: initial;
	--color-surface-8: initial;
	--color-surface-9: initial;
	--color-surface-10: initial;

	--color-red: initial;
	--color-green: initial;
	--color-chalk-shadow: initial;
}