@import '../../styles/const.module';

._ {
	display: grid;
	grid-template-rows: 2rem 6rem;
	height: 100%;

	div:first-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	div:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 6rem;
		color: $textColor_regular;
		font-size: $fontSize_title;
	}
}
