:root[data-theme="light"] {
	--color-base: rgba(61, 110, 73, 1);

	--color-primary-shade: rgba(118, 86, 56, 1);
	--color-primary-tint: rgba(186, 149, 113, 1);
	--color-primary-tint_opacity: rgba(186, 149, 113, 0.4);

	--color-primary: rgba(224, 226, 236, 1);

	--color-on-primary: rgba(255, 255, 255, 1);
	--color-primary-container: rgba(186, 159, 132, 1);
	--color-on-primary-container: rgba(77, 47, 18, 1);

	--color-secondary: rgba(98, 46, 71, 1);
	--color-on-secondary: rgba(255, 255, 255, 1);
	--color-secondary-container: rgba(176, 125, 150, 1);
	--color-on-secondary-container: rgba(63, 15, 39, 1);

	--color-surface: rgba(61, 110, 73, 1);
	--color-surface_gradient: linear-gradient(45deg, rgba(61, 110, 73, 1) 0%, rgba(37, 84, 49, 1) 100%);
	--color-on-surface: rgba(187, 149, 111, 1);
	--color-surface-variant: rgba(224, 226, 236, 1);
	--color-on-surface-variant: rgba(88, 70, 53, 1);

	--color-surface-0: rgba(1, 45, 12, 1);
	--color-surface-1: rgba(13, 58, 25, 1);
	--color-surface-2: rgba(25, 71, 37, 1);
	--color-surface-3: rgba(37, 84, 49, 1);
	--color-surface-4: rgba(49, 97, 61, 1);
	--color-surface-5: rgba(61, 110, 73, 1);
	--color-surface-6: rgba(73, 123, 85, 1);
	--color-surface-7: rgba(85, 136, 97, 1);
	--color-surface-8: rgba(97, 149, 109, 1);
	--color-surface-9: rgba(109, 162, 121, 1);
	--color-surface-10: rgba(121, 175, 134, 1);

	--color-red: #ff3d00;
	--olor-green: rgba(41, 89, 54, 1);
	--color-chalk-shadow: (
			0 2px 4px rgba(0, 0, 0, 0.2),
			0 0 0.2rem rgba(98, 46, 71, 1),
			0 0 0.5rem rgba(186, 149, 113, 0.4)
	);
}
