/* ---------- colors ---------- */
$color_regular__dark: rgb(200, 220, 220);    //#C8DCDCFF
$color_correct__dark: #c3f3c3;
$color_wrong__dark: #e8c1c1;

$bgColor_regular__dark: rgba(40, 40, 40, 1); //282828FF

$textColor_regular: $color_regular__dark;
$textColor_correct: $color_correct__dark;
$textColor_wrong: $color_wrong__dark;

$borderColor_regular: $color_regular__dark;
$borderColor_correct: $color_correct__dark;
$borderColor_wrong: $color_wrong__dark;

:root[data-theme="light"] {
	--background-color: rgba(192, 224, 240, 1);
	--background-color__opacity: rgba(173, 217, 240, 1);
	--text-color: rgba(40, 40, 40, 1);
	--text-color_correct: #4c8150;
	--text-color_wrong: #a66969;
	--border-color: rgba(40, 40, 40, 1);
	--border-color__opacity: rgba(40, 40, 40, 1);
	--border-color_correct: #4c8150;
	--border-color_wrong: #a66969;
}

:root[data-theme="dark"] {
	--background-color: rgba(64, 64, 64, 1);
	--background-color__opacity: rgba(72, 72, 72, 1);
	--text-color: rgba(200, 220, 220, 1);
	--text-color_correct: #c3f3c3;
	--text-color_wrong: #e8c1c1;
	--border-color: rgba(200, 220, 220, 1);
	--border-color__opacity: rgba(200, 220, 220, 1);
	--border-color_correct: #c3f3c3;
	--border-color_wrong: #e8c1c1;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	border-color: var(--border-color);

	.correct {
		color: var(--text-color_correct);
		border-color: var(--border-color_correct);
	}

	.wrong {
		color: var(--text-color_wrong);
		border-color: var(--border-color_wrong);
	}

	.opacity {
		background-color: var(--background-color__opacity);
		border-color: var(--border-color__opacity);
	}
}

/* ---------- screen sizes ---------- */

$screen-sm:  'min-width:  576px';
$screen-md:  'min-width:  768px';
$screen-lg:  'min-width:  992px';
$screen-xl:  'min-width: 1200px';
$screen-xxl: 'min-width: 1400px';

/* ---------- blocks ---------- */
@mixin example-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	width: 100%;

	.example {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
	}

	.condition {
		padding: 0 1rem 0 0;
		font-size: $fontSize_regular;
	}

	.product {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 6rem;
		height: 3rem;
		border-radius: $borderRadius_regular;
		font-size: $fontSize_regular;
		border: 1px solid var(--border-color);

		&.correct {
			border: 1px solid var(--border-color_correct);
		}

		&.wrong {
			border: 1px solid var(--border-color_wrong);
		}
	}
}

@mixin back-link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: $borderRadius_regular;
	width: 4rem;
	height: auto;

	img {
		width: 2rem;
		height: auto;
	}
}

@mixin toggle-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color__opacity);
	border-radius: $borderRadius_regular;
	background-color: var(--background-color__opacity);
	width: 4rem;
	height: auto;
	font-size: $fontSize_regular;
	text-align: center;
	cursor: pointer;
}

@mixin result_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem 2rem;
	font-size: $fontSize_regular;
	text-align: center;
}

$borderRadius_regular: 4px;

/* ---------- typography ---------- */

$fontSize_regular: 2.2rem;
$fontSize_title: 2.6rem;

:export {
	borderColor_regular: var(--border-color);
	fontSize_regular: $fontSize_regular;
	borderRadius_regular: $borderRadius_regular;
}