@import './normalize.css';
@import './const.module.scss';
@import './fonts.module';

html {
	font-size: 26px;
	@media only screen and ($screen-sm) {font-size: 30px;}
	@media only screen and ($screen-md) {font-size: 30px;}
	@media only screen and ($screen-lg) {font-size: 32px;}
	@media only screen and ($screen-xl) {font-size: 32px;}
	@media only screen and ($screen-xxl) {font-size: 36px;}
}

body {
	background: var(--color-surface_background);
	color: var(--color-primary);
	font-family: 'CaveatRegular', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0;

	@media only screen and ($screen-lg) {
		cursor: none;
	}

	:global {
		#cursor {
			display: none;

			@media only screen and ($screen-lg) {
				display: block;
			}
		}
	}

	.correct {
		color: var(--color-green);
		border-color: var(--color-green);
	}

	.wrong {
		color: var(--color-red);
		border-color: var(--color-red);
	}

	.opacity {
		//background-color: var(--background-color__opacity);
		//border-color: var(--border-color__opacity);
	}
}
