._ {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border: 1px solid var(--color-outline-variant);
	background: var(--color-surface);

	ol {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem 1rem;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.5rem;
		height: 1.5rem;
	}

	.answerButton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid var(--color-primary);


		transition: background-color 0.3s ease, transform 0.2s ease;
	}

	.answerButton.correct {
		//background-color: var(--color-success);
		background-color: blue;
		transform: scale(1.05);
	}

	.answerButton.wrong {
		//background-color: var(--color-error);
		background-color: red;
		transform: scale(0.95);
	}

	.answerButton.selected:not(.correct):not(.wrong) {
		//background-color: var(--color-neutral);
		background-color: white;
	}

}