@import '../../../../styles/const.module';

._ {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.links {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	a {
		@include result_item;
	}
}

