* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: auto;
}

body {
	height: auto;
}

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

img {
	border-style: none;
}

ul, ol {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}
