@import '../../styles/const.module';

._ {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: $textColor_regular;
	font-size: $fontSize_regular;
	border: 1px solid $borderColor_regular;
	border-radius: $borderRadius_regular;
	cursor: pointer;
}