@import '../../styles/const.module';

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $borderColor_regular;
	border-radius: $borderRadius_regular;
	width: 2.5rem;
	height: auto;

	img {
		width: 1.5rem;
		height: auto;
	}
}