@use '../../../../styles/abstracts/variables' as v;

._{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: var(--border-width-small) solid var(--color-primary-tint_opacity);
	background-color: var(--color-surface-4);
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;

	.equation {
		height: fit-content;
		padding: {
			top: 0.2rem;
			bottom: 0.2rem;
			right: 0.75rem;
			left: 0.75rem;
		}
		background-color: var(--color-surface-6);
		border: var(--border-width-small) solid var(--color-primary);

		span {
			font-size: v.$fontSize_regular;
		}
	}
}