@import '../../styles/const.module';

.cursor_container {
	position: absolute;
	left: -100px;
	top: -100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cursor {
	background-color: var(--text-color);
	border-radius: 50%;
	pointer-events: none;
}