@import '../../../../styles/const.module';

._ {
	display: flex;
	justify-content: center;
	padding: 1rem 0;


	ol {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}

	.answer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1.5rem;

		div:first-child {
			padding: 0 0.2rem 0 0;
			color: $textColor_regular;
			font-size: $fontSize_regular;
		}

		div:last-child {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3rem;
			height: 100%;
			color: $textColor_regular;
			font-size: $fontSize_regular;
			border: 1px solid $borderColor_regular;
			border-radius: $borderRadius_regular;
		}
	}
}
