@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

html {
	font-size: 26px;
	@include mixins.respond-to(variables.$screen-sm) {
		font-size: 30px
	}
	@include mixins.respond-to(variables.$screen-md) {
		font-size: 30px
	}
	@include mixins.respond-to(variables.$screen-lg) {
		font-size: 32px
	}
	@include mixins.respond-to(variables.$screen-xl) {
		font-size: 32px
	}
	@include mixins.respond-to(variables.$screen-xxl) {
		font-size: 36px
	}
}

body {
	background-image: var(--color-surface_gradient);
	color: var(--color-primary);

	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		pointer-events: none;
		background: rgba(0, 0, 0, 0.05);
		z-index: -1;
	}

	@include mixins.respond-to(variables.$screen-lg) {
		cursor: none;
	}

	:global {
		#cursor {
			display: none;

			@include mixins.respond-to(variables.$screen-lg) {
				display: block;
			}
		}
	}
}
