@use "../abstracts/mixins" as mixins;

@include mixins.caveat-font-face("Regular", 400);
@include mixins.caveat-font-face("Medium", 500);
@include mixins.caveat-font-face("SemiBold", 600);
@include mixins.caveat-font-face("Bold", 700);
