* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
	cursor: none;
}

button {
	display: inline-block;
	align-items: flex-start;
	appearance: auto;
	-webkit-writing-mode: horizontal-tb !important;
	color: inherit;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	text-align: center;
	background-color: inherit;
	font: inherit;
	border-image: initial;
	border: none;
	line-height: 1em;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

img {
	border-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	margin: {
		block: {start: unset; end: unset;}
		inline: {start: unset; end: unset;}
	}
}

ol, ul {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

select {
	text-transform: none;
}